In [1]:
from blaze import Data, compute, by, join, merge, transform

In [2]:
d = Data('postgresql://localhost/tpc')

In [3]:
d.fields

['customer',
 'lineitem',
 'nation',
 'orders',
 'part',
 'partsupp',
 'region',
 'supplier']

# Queries

## 1

In [4]:
select
        l_returnflag,
        l_linestatus,
        sum(l_quantity) as sum_qty,
        sum(l_extendedprice) as sum_base_price,
        sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
        sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
        avg(l_quantity) as avg_qty,
        avg(l_extendedprice) as avg_price,
        avg(l_discount) as avg_disc,
        count(*) as count_order
from
        lineitem
where
        l_shipdate <= date '1998-12-01' - interval ':1' day (3)
group by
        l_returnflag,
        l_linestatus
order by
        l_returnflag,
        l_linestatus;

IndentationError: unexpected indent (<ipython-input-4-6b0472d7f05d>, line 2)

In [8]:
subset = d.lineitem[d.lineitem.ship_date <= pd.Timestamp('1998-12-01') - pd.Timedelta('3 days')]
grouped = by(subset[['return_flag', 'line_status']],
             sum_qty=subset.quantity.sum(),
             sum_base_price=subset.extended_price.sum(),
             sum_disc_price=(subset.extended_price * (1 - subset.discount)).sum(),
             sum_charge=(subset.extended_price * (1 - subset.discount) * (1 + subset.tax)).sum(),
             avg_qty=subset.quantity.mean(),
             avg_price=subset.extended_price.mean(),
             avg_disc=subset.discount.mean(),
             count_order=subset.order_id.count())
result = grouped.sort(['return_flag', 'line_status'])
print(compute(result))

SELECT anon_1.return_flag, anon_1.line_status, anon_1.avg_disc, anon_1.avg_price, anon_1.avg_qty, anon_1.count_order, anon_1.sum_base_price, anon_1.sum_charge, anon_1.sum_disc_price, anon_1.sum_qty
FROM (SELECT lineitem.return_flag AS return_flag, lineitem.line_status AS line_status, avg(lineitem.discount) AS avg_disc, avg(lineitem.extended_price) AS avg_price, avg(lineitem.quantity) AS avg_qty, count(lineitem.order_id) AS count_order, sum(lineitem.extended_price) AS sum_base_price, sum(lineitem.extended_price * (%(discount_1)s - lineitem.discount) * (%(tax_1)s + lineitem.tax)) AS sum_charge, sum(lineitem.extended_price * (%(discount_2)s - lineitem.discount)) AS sum_disc_price, sum(lineitem.quantity) AS sum_qty
FROM lineitem
WHERE lineitem.ship_date <= %(ship_date_1)s GROUP BY lineitem.return_flag, lineitem.line_status) AS anon_1 ORDER BY anon_1.return_flag ASC, anon_1.line_status ASC

In [9]:
result

,return_flag,line_status,avg_disc,avg_price,avg_qty,count_order,sum_base_price,sum_charge,sum_disc_price,sum_qty
0,A,F,0.04998529583839761162,38273.129734621672,25.5220058532573370,1478493,56586554400.73,55909065222.827692,53758257134.8700,37734107.00
1,N,F,0.05009342667421629691,38284.467760848304,25.5164719205229835,38854,1487504710.38,1469649223.194375,1413082168.0541,991417.00
2,N,O,0.05000004991846650471,38248.108587330693,25.5020875902692269,3004900,114931741494.07,113557617182.748041,109186320121.3072,76631223.00
3,R,F,0.05000940583012705647,38250.854626099657,25.5057936126907707,1478870,56568041380.90,55889619119.831932,53741292684.6040,37719753.00

## 4

In [ ]:
select
        o_orderpriority,
        count(*) as order_count
from
        orders
where
        o_orderdate >= date ':1'
        and o_orderdate < date ':1' + interval '3' month
        and exists (
                select
                        *
                from
                        lineitem
                where
                        l_orderkey = o_orderkey
                        and l_commitdate < l_receiptdate
        )
group by
        o_orderpriority
order by
        o_orderpriority;

In [ ]:
subset = d.orders[(d.orders.order_date >= ) & ()].count_lu
result = subset.order_priority).count_values()